<div class="reset-password">
    <div class="reset-password-container">
        <div class="reset-password-header">
            <span>
                Reset Password
            </span>
        </div>
        <div class="reset-password-body">
            <form [formGroup]="resetPassword">
                <mat-form-field appearance="outline">
                    <mat-label>New Password</mat-label>
                    <input type="password" matInput required formControlName="newpassword">
                    <mat-error></mat-error>
                </mat-form-field>
                <mat-form-field appearance="outline">
                    <mat-label>Confirm Password</mat-label>
                    <input type="password" matInput required formControlName="confirmpassword">
                    <mat-error></mat-error>
                </mat-form-field>
                <button mat-raised-button color="primary" type="submit" (click)="changePassword()">Change Password</button>
                <button mat-raised-button color="warn" type="button">Reset</button>
            </form>
        </div>
    </div>
</div>