.registration-card{
    position: absolute;
    width: 40vw;
    height: fit-content;
    text-align: center;
    background-color: white;
    margin-top: 6%;
    margin-left: 45%;
    box-shadow: lightgray 2px 2px 2px 2px 2px;
    background-blend-mode: soft-light;
} 
.normalField{
    width:12.8vw;
}
.normalFieldR{
    width: 15.8vw;
}
.titleField{
    width:7vw;
}
#row1{
    display: flex;
    justify-content: space-evenly;
}
#row2{
    display: flex;
    justify-content: flex-end;
}
#back-icon:hover{
    cursor:pointer;
    color: grey;
}
.submitBtn:hover{
    background-color: seagreen;
}
.submitBtn:disabled{
    cursor: not-allowed;
    background-color:lightgray;
}
tr{
    height: 11vh;
}
tr{
    font-size: 12px;
}