<!-- Login Page -->
<app-loader *ngIf="loginCheck" [message]="loginMessage">not loaded</app-loader>
<div class="intro-line">
  WELCOME TO EMPLOYEE MANAGEMENT SYSTEM<hr>
  <span class="intro-line-two">PLEASE LOGIN OR REGISTER TO CONTINUE.</span>
</div>

<div class="login-container">
  <div class="body-login-image"></div>
  <div class="body-text">
    <mat-card style="box-shadow: none">
    <mat-card-content>
      <!-- Login form -->
      <form [formGroup]="loginForm" style="margin-top: 3vh" >
        
        <!-- User Name / Email Address-->
        <mat-form-field appearance="outline">
          <mat-label style="border-bottom-color: white">Email Address</mat-label>
          <span class="material-icons" matSuffix>email</span>
          <input type="email" matInput formControlName="email" required>
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
            Please add email address.</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email') && !(loginForm.get('email')?.hasError('required'))">
            Invalid email address.</mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('wrongUserName') && !loginForm.get('email')?.hasError('email') && !(loginForm.get('email')?.hasError('required'))">
            Incorrect user name.</mat-error>
        </mat-form-field>
        
        <!-- Password -->
        <mat-form-field class="display-pwd" appearance="outline">
          <mat-label style="border-bottom-color: white">Password</mat-label>
          <span class="material-icons" matSuffix>lock </span>
          <input type="password" matInput formControlName="password" required>
          <mat-error *ngIf="loginForm.get('password')?.hasError('required')">Please ass password.</mat-error>
          <mat-error *ngIf="loginForm.get('password')?.hasError('passwordValidation') && !(loginForm.get('password')?.hasError('required'))">Incorrect Password.</mat-error>
          <!-- <mat-error *ngIf="loginForm.get('password')?.hasError('wrongUserPassword') && !loginForm.get('password')?.hasError('passwordValidation') && !(loginForm.get('password')?.hasError('required'))">Incorrect Password.</mat-error> -->
        </mat-form-field>
        
        <!-- Password policy -->
        <span class="password-policy">
          <li>At least one capital letter.</li>
          <li>At least one small letter.</li>
          <li>At least one digit.</li>
          <li>Minimum charachters 6.</li>
          <li>Maximum charachters 15.</li>
        </span>
        
        <!-- Buttons -->
        <div class="button-container">
          <button type="submit" mat-button mat-raised-button color="primary" [disabled]="loginForm.invalid" (click)="loginUser()">Login</button>
          <button type="reset" mat-button mat-raised-button color="warn" (click)="resetForm()">Reset</button>
        </div>

      </form>
    </mat-card-content>

    <mat-card-footer>
      <!-- Links -->
      <a routerLink="#" (click)="redirectToRegistration()">Create account? </a> <a routerLink="#" (click)="redirectToResetPassword()"> Forgot Password?</a>
    </mat-card-footer>
    </mat-card>
  </div>
</div>
<!-- if error accures -->
<app-error *ngIf="errorCheck" [errorMessage]="messageError">Get Error</app-error>