<div>
    <p printMe style="color:red">
        My Self Parth Chokshi...
    </p>
    <div printMe>
        <img src="../assets/images/cricket.png" alt="can not able to load">
        Glad to meet you...
    </div>
    <div printMe>
        <table style="border:black 1px solid">
            <tr>
                <td>Parth</td>
                <td>Chokshi</td>
            </tr>
        </table>
    </div>
    <button (click)="navigateTo()">Print Stuff</button>
</div>
<router-outlet></router-outlet>