@keyframes forgot-password-animation{
    from{opacity: 0;}
    to{opacity: 1;}
}

.forgot-password{
    position: absolute;
    width : 40vw;
    height : 40vh;
    background-color: white;
    margin-left: 30vw;
    margin-top: 30vh;
    display: flex;
    box-shadow: rgb(53, 53, 53) 1px 1px 50px;
    animation: forgot-password-animation 1s ease-in-out;
}
.forgot-password-left-image{
    background: url("../../../../assets/images/supportcontent.jpg");
    background-size: cover;
    width: 50%;
    height: 100%;
}

.forgot-password-right-component{
    width: 30vw;
    height: 100%;
}
